In [2]:
import pandas as pd
print(pd.__version__)

1.2.3

In [9]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : f2c8480af2f25efdbd803218b9d87980f416563e
python           : 3.8.8.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.18362
machine          : AMD64
processor        : Intel64 Family 6 Model 58 Stepping 9, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_Kenya.1252

pandas           : 1.2.3
numpy            : 1.19.2
pytz             : 2021.1
dateutil         : 2.8.1
pip              : 21.0.1
setuptools       : 56.0.0
Cython           : 0.29.22
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.20.0
pandas_datareader: None
bs4              : 4.9.3
bottleneck       : None
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.4
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.6.2
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
numba            : None

In [14]:
import random
import numpy as np

In [44]:
df = pd.DataFrame(np.random.rand(4,20))
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.416102,0.620943,0.869238,0.167995,0.218806,0.689773,0.115168,0.705212,0.494973,0.762792,0.176909,0.652228,0.987671,0.562469,0.581085,0.443373,0.726689,0.386134,0.707072,0.082511
1,0.643275,0.081836,0.351533,0.278370,0.224958,0.479757,0.460473,0.835902,0.968895,0.680280,0.343655,0.755203,0.841326,0.864494,0.621109,0.293529,0.437162,0.516696,0.191129,0.455308
2,0.458882,0.901388,0.495408,0.885096,0.436194,0.396672,0.264680,0.507378,0.148343,0.846854,0.867833,0.332746,0.646809,0.492921,0.837007,0.398500,0.521570,0.742727,0.435071,0.403030
3,0.535382,0.607041,0.194058,0.391943,0.207119,0.109626,0.522281,0.239286,0.146311,0.402234,0.010193,0.427568,0.113819,0.189279,0.519160,0.286674,0.266178,0.494061,0.487215,0.978288

In [45]:
df = pd.DataFrame({'col_1':[1,2,3,4],'col_2':[3,5,3,1],'col_3':[3,4,6,1]})
df

   col_1  col_2  col_3
0      1      3      3
1      2      5      4
2      3      3      6
3      4      1      1

In [46]:
pd.DataFrame(np.random.rand(20,4),columns = list('abcd'))

           a         b         c         d
0   0.479607  0.833739  0.597142  0.687474
1   0.483948  0.859554  0.722302  0.148281
2   0.515857  0.034330  0.008798  0.808924
3   0.693612  0.003178  0.744908  0.822590
4   0.304724  0.394343  0.984908  0.283679
5   0.527616  0.290136  0.034948  0.788525
6   0.610669  0.784639  0.171764  0.943002
7   0.838537  0.202599  0.370581  0.869051
8   0.904851  0.448045  0.833153  0.420689
9   0.533945  0.860031  0.871012  0.479131
10  0.083500  0.394240  0.510971  0.858272
11  0.899047  0.116515  0.222774  0.626708
12  0.498214  0.329447  0.410865  0.782180
13  0.852009  0.578860  0.977464  0.989504
14  0.353723  0.335478  0.315050  0.538697
15  0.335071  0.215465  0.147193  0.468550
16  0.627034  0.050287  0.876032  0.342132
17  0.459228  0.482498  0.754863  0.322160
18  0.521940  0.200092  0.579684  0.826941
19  0.095177  0.589117  0.166500  0.508411

In [47]:
df.rename({'col_1':'col one','col_2':'col two','col_3':'col three'},axis = 'columns')

   col one  col two  col three
0        1        3          3
1        2        5          4
2        3        3          6
3        4        1          1

In [48]:
df.columns = ['column one','column two','columns three']

In [49]:
df

   column one  column two  columns three
0           1           3              3
1           2           5              4
2           3           3              6
3           4           1              1

In [50]:
df.columns = df.columns.str.replace(' ','_')

In [51]:
df

   column_one  column_two  columns_three
0           1           3              3
1           2           5              4
2           3           3              6
3           4           1              1

In [53]:
df.add_prefix('X_')

   X_column_one  X_column_two  X_columns_three
0             1             3                3
1             2             5                4
2             3             3                6
3             4             1                1

In [54]:
df.add_suffix('_y')

   column_one_y  column_two_y  columns_three_y
0             1             3                3
1             2             5                4
2             3             3                6
3             4             1                1

In [61]:
df.loc[::-1]

   column_one  column_two  columns_three
3           4           1              1
2           3           3              6
1           2           5              4
0           1           3              3

In [62]:
df.loc[::-1].reset_index(drop = True)

   column_one  column_two  columns_three
0           4           1              1
1           3           3              6
2           2           5              4
3           1           3              3

In [63]:
df.loc[:,::-1]

   columns_three  column_two  column_one
0              3           3           1
1              4           5           2
2              6           3           3
3              1           1           4

In [66]:
   df.select_dtypes(include = 'number')

   column_one  column_two  columns_three
0           1           3              3
1           2           5              4
2           3           3              6
3           4           1              1

In [67]:
df.select_dtypes(include = 'object')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [69]:
df.select_dtypes(include = ['category','object','number','datetime'])

   column_one  column_two  columns_three
0           1           3              3
1           2           5              4
2           3           3              6
3           4           1              1

In [71]:
df.select_dtypes(exclude = 'number')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [121]:
df2 = pd.DataFrame({'col_one':['1.1','1.2','1.3','1.4'],'col_two':['2.1','2.2','2.3','2.4']})

In [123]:
df2.dtypes

col_one    object
col_two    object
dtype: object

In [101]:
df2.select_dtypes(include = 'object')

  col_one col_two
0     1.1     2.1
1     1.2     2.2
2     1.3     2.3
3     1.4     2.4

In [124]:
df2.dtypes

col_one    object
col_two    object
dtype: object

In [125]:
df2.astype({'col_one':float,'col_two':float},).dtypes

col_one    float64
col_two    float64
dtype: object

In [126]:
df2.dtypes

col_one    object
col_two    object
dtype: object

In [127]:
pd.to_numeric(df2.col_one,errors= 'coerce')

0    1.1
1    1.2
2    1.3
3    1.4
Name: col_one, dtype: float64

In [128]:
pd.to_numeric(df2.col_two,errors = 'coerce').fillna(0)

0    2.1
1    2.2
2    2.3
3    2.4
Name: col_two, dtype: float64

In [129]:
df2 = df2.apply(pd.to_numeric,errors = 'coerce').fillna(0)

In [130]:
df2.dtypes

col_one    float64
col_two    float64
dtype: object

In [131]:
df2.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   col_one  4 non-null      float64
 1   col_two  4 non-null      float64
dtypes: float64(2)
memory usage: 192.0 bytes

In [132]:
dtypes = {'continent':'categorical'}

## read multiple datasets

In [134]:
pd.read_csv("")
pd.read_csv("")
pd.read_csv("")

FileNotFoundError: [Errno 2] No such file or directory: ''

In [135]:
from glob import glob

In [136]:
stork_files = sorted(glob(""))

In [137]:
pd.concat((pd.read_csv(file)for file in stock_files))
pd.concat((pd.read_csv(file)for file in stock_files),ignore_index = True)

NameError: name 'stock_files' is not defined

#### BUID A DATAFRAME FROM MULTIPLE FILES COLUMNS_WISE

In [138]:
pd.concat((pd.read_csv(file) for file in drink_files),axis = 'columns')

NameError: name 'drink_files' is not defined

### Create a dataframe from clip board

In [139]:
## select and copy the data 
df = pd.read_clipboard()

EmptyDataError: No columns to parse from file

## split a dataframe into two random dataframes

In [140]:
len(df2)

4

In [141]:
import imageio

In [142]:
from skimage import io

ModuleNotFoundError: No module named 'skimage'