In [1]:
import pandas as pd
import numpy as np
from pandas.api.types import CategoricalDtype
import matplotlib.pyplot as plt

In [2]:
dtypes = {"front_garden":'category',"large_living_room":'category',"swimming_pool":'category',"parking_space":'category',"wall_fence":'category',"water_front":'category'}

In [3]:
df = pd.read_csv("C:/Users/VEDIT/Desktop/machine learning/datasets/linear_regression/house_prices_datasets/house_price_dataset_original_v2_with_categorical_features.csv", dtype = dtypes)

In [4]:
df.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4954 entries, 0 to 4953
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   land_size_sqm            4954 non-null   object
 1   house_size_sqm           4954 non-null   object
 2   no_of_rooms              4954 non-null   int64
 3   no_of_bathrooms          4954 non-null   int64
 4   large_living_room        4954 non-null   category
 5   parking_space            4954 non-null   category
 6   front_garden             4954 non-null   category
 7   swimming_pool            4954 non-null   category
 8   distance_to_school       4954 non-null   object
 9   wall_fence               4954 non-null   category
 10  house_age                4954 non-null   object
 11  water_front              4954 non-null   category
 12  distance_to_supermarket  4954 non-null   object
 13  crime_rate_index         4954 non-null   float64
 14  room_size                4954 non-null   object
 15  property_value           4954 non-null   int64
dtypes: category(6), float64(1), int64(3), object(6)
memory usage: 2.0 MB

In [5]:
df.head()

,land_size_sqm,house_size_sqm,no_of_rooms,no_of_bathrooms,large_living_room,parking_space,front_garden,swimming_pool,distance_to_school,wall_fence,house_age,water_front,distance_to_supermarket,crime_rate_index,room_size,property_value
0,201 sqm,177 sqm,3,1,No,Yes,Yes,No,3.3km,Yes,10 Years,No,6.8 km,0.90,small,165432
1,196 sqm,182 sqm,4,3,Yes,Yes,No,Yes,1.2km,Yes,11 Years,No,4.1 km,1.42,medium,187043
2,198 sqm,182 sqm,4,4,Yes,Yes,No,Yes,5.9km,No,20 Years,No,2.1 km,4.12,medium,148658
3,178 sqm,166 sqm,2,3,No,Yes,No,No,5.9km,No,5 Years,No,0.7 km,4.36,small,123785
4,183 sqm,165 sqm,3,1,Yes,Yes,No,No,3.8km,Yes,8 Years,No,0.7 km,0.42,small,156470

In [6]:
df.select_dtypes(include = 'category')

,large_living_room,parking_space,front_garden,swimming_pool,wall_fence,water_front
0,No,Yes,Yes,No,Yes,No
1,Yes,Yes,No,Yes,Yes,No
2,Yes,Yes,No,Yes,No,No
3,No,Yes,No,No,No,No
4,Yes,Yes,No,No,Yes,No
...,...,...,...,...,...,...
4949,Yes,Yes,Yes,Yes,Yes,No
4950,Yes,Yes,Yes,Yes,Yes,Yes
4951,Yes,Yes,No,No,Yes,No
4952,No,Yes,No,Yes,No,No
4953,Yes,Yes,Yes,Yes,Yes,No

In [7]:
df.isnull().sum().sum()

0

In [8]:
import re

In [9]:
def func(x):
    x = ''.join(re.split("[^0-9.]*", str(x)))
    return np.float(x)

In [10]:
# was just an example
x = ["10km","10km","10km","10km"]
c = func(x)
c

<ipython-input-9-5482aad9bf3e>:3: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  return np.float(x)

10101010.0

In [11]:
df[['house_age','distance_to_school','distance_to_supermarket','land_size_sqm','house_size_sqm']] = df[['house_age','distance_to_school','distance_to_supermarket','land_size_sqm','house_size_sqm']].applymap(func)

<ipython-input-9-5482aad9bf3e>:3: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  return np.float(x)

In [12]:
df.drop_duplicates(keep = 'last', inplace = True)

In [13]:
# the long route

# df['house_age'] = df['house_age'].apply(func)
# df['distance_to_school'] = df['distance_to_school'].apply(func)
# df['distance_to_supermarket'] = df['distance_to_supermarket'].apply(func)
# df['land_size_sqm'] = df['land_size_sqm'].apply(func)
# df['house_size_sqm'] = df['house_size_sqm'].apply(func)

In [14]:
df.head()

,land_size_sqm,house_size_sqm,no_of_rooms,no_of_bathrooms,large_living_room,parking_space,front_garden,swimming_pool,distance_to_school,wall_fence,house_age,water_front,distance_to_supermarket,crime_rate_index,room_size,property_value
0,201.0,177.0,3,1,No,Yes,Yes,No,3.3,Yes,10.0,No,6.8,0.90,small,165432
1,196.0,182.0,4,3,Yes,Yes,No,Yes,1.2,Yes,11.0,No,4.1,1.42,medium,187043
2,198.0,182.0,4,4,Yes,Yes,No,Yes,5.9,No,20.0,No,2.1,4.12,medium,148658
3,178.0,166.0,2,3,No,Yes,No,No,5.9,No,5.0,No,0.7,4.36,small,123785
4,183.0,165.0,3,1,Yes,Yes,No,No,3.8,Yes,8.0,No,0.7,0.42,small,156470

In [15]:
# example of selecting multiple columns
df[['house_age','wall_fence','distance_to_supermarket']].head()

   house_age wall_fence  distance_to_supermarket
0       10.0        Yes                      6.8
1       11.0        Yes                      4.1
2       20.0         No                      2.1
3        5.0         No                      0.7
4        8.0        Yes                      0.7

In [16]:
df.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4954 entries, 0 to 4953
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   land_size_sqm            4954 non-null   float64
 1   house_size_sqm           4954 non-null   float64
 2   no_of_rooms              4954 non-null   int64
 3   no_of_bathrooms          4954 non-null   int64
 4   large_living_room        4954 non-null   category
 5   parking_space            4954 non-null   category
 6   front_garden             4954 non-null   category
 7   swimming_pool            4954 non-null   category
 8   distance_to_school       4954 non-null   float64
 9   wall_fence               4954 non-null   category
 10  house_age                4954 non-null   float64
 11  water_front              4954 non-null   category
 12  distance_to_supermarket  4954 non-null   float64
 13  crime_rate_index         4954 non-null   float64
 14  room_size                4954 non-null   object
 15  property_value           4954 non-null   int64
dtypes: category(6), float64(6), int64(3), object(1)
memory usage: 725.8 KB

In [18]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

FileNotFoundError: Could not find module 'C:\Users\VEDIT\anaconda3\lib\site-packages\scipy\.libs\libbanded5x.EHDKC2XVYTQQ5MALRS6XN2CUSS6SRL6P.gfortran-win_amd64.dll' (or one of its dependencies). Try using the full path with constructor syntax.

In [119]:
one = OneHotEncoder(drop = 'first',handle_unknown = 'error')
ordn = OrdinalEncoder()

In [153]:
def enc(x):
    v = np.array(x).reshape((-1,1))
    return pd.Series(one.fit_transform(v).toarray().reshape(-1))

In [154]:
df.head()

,land_size_sqm,house_size_sqm,no_of_rooms,no_of_bathrooms,large_living_room,parking_space,front_garden,swimming_pool,distance_to_school,wall_fence,house_age,water_front,distance_to_supermarket,crime_rate_index,room_size,property_value
0,201 sqm,177 sqm,3,1,No,Yes,Yes,No,3.3km,Yes,10 Years,No,6.8 km,0.90,small,165432
1,196 sqm,182 sqm,4,3,Yes,Yes,No,Yes,1.2km,Yes,11 Years,No,4.1 km,1.42,medium,187043
2,198 sqm,182 sqm,4,4,Yes,Yes,No,Yes,5.9km,No,20 Years,No,2.1 km,4.12,medium,148658
3,178 sqm,166 sqm,2,3,No,Yes,No,No,5.9km,No,5 Years,No,0.7 km,4.36,small,123785
4,183 sqm,165 sqm,3,1,Yes,Yes,No,No,3.8km,Yes,8 Years,No,0.7 km,0.42,small,156470

In [155]:
large_living_room = enc(df['large_living_room'])
parking_space = enc(df['parking_space'])
front_garden = enc(df['front_garden'])
swimming_pool = enc(df['swimming_pool'])
wall_fence = enc(df['wall_fence'])
water_front = enc(df['water_front'])

# ordinal feature

room_size = np.array(df['room_size']).reshape((-1,1))
room_size = ordn.fit_transform(room_size)

In [157]:
front_garden.shape

(4954,)

In [126]:
df.drop(['large_living_room','parking_space','front_garden','swimming_pool','wall_fence','water_front','room_size'], inplace = True,axis = 1)

In [167]:
df = pd.concat(wall_fence)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "Series"

In [147]:
wall_fence = wall_fence.reshape(-1)
wall_fence.shape

(4954,)

In [158]:
df = pd.concat(wall_fence)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "Series"

In [134]:
df2[0].shape

(1,)

In [135]:
large_living_room.shape

(4954, 1)

array(['small', 'medium', 'large', 'extra_large'], dtype=object)

In [346]:
x = np.array([['small',1],['median',2],['large',3],['extra_large',4]])

In [348]:
x.reshape(-1,1)
x

array([['small', '1'],
       ['median', '2'],
       ['large', '3'],
       ['extra_large', '4']], dtype='<U11')

In [349]:
ordn.fit(x)

OrdinalEncoder()

In [352]:
x.shape

(4, 2)

In [351]:
ordn.transform(df['room_size'].values.reshape(-1,1))

ValueError: The number of features in X is different to the number of features of the fitted data. The fitted data had 2 features and the X has 1 features.

In [321]:
d = df['room_size']

In [328]:
d1 = d.values

In [330]:
d1.reshape(1,-1).shape

(1, 4954)

In [70]:
# df = pd.read_csv("C:/Users/VEDIT/Desktop/machine learning/datasets/linear_regression/house_prices_datasets/house_price_dataset_original_v2_cleaned.csv")

In [71]:
df.head()

,land_size_sqm,house_size_sqm,no_of_rooms,no_of_bathrooms,large_living_room,parking_space,front_garden,swimming_pool,distance_to_school,wall_fence,house_age,water_front,distance_to_supermarket_km,crime_rate_index,room_size,property_value
0,201,177,3,1,0,1,1,0,3.3,1,10,0,6.8,0.90,0,165432
1,196,182,4,3,1,1,0,1,1.2,1,11,0,4.1,1.42,1,187043
2,198,182,4,4,1,1,0,1,5.9,0,20,0,2.1,4.12,1,148658
3,178,166,2,3,0,1,0,0,5.9,0,5,0,0.7,4.36,0,123785
4,183,165,3,1,1,1,0,0,3.8,1,8,0,0.7,0.42,0,156470

In [72]:
c = np.arange(200).reshape((-1,1))

In [73]:
c.shape

(200, 1)

In [76]:
np.array(df['room_size']).bin_count()

AttributeError: 'numpy.ndarray' object has no attribute 'bin_count'